{% extends "goalpoolapp/layout.html" %}

{% load static %}
{% block title %}
    Create Classic Team
{% endblock %}
{% block body %}
<script src="{% static 'goalpoolapp/globalcreate.js' %}" defer></script>
<div id="main-page-content-container">
    <div id="main-page-content">
        <h2>Create Global Team</h2>
        <p> You can pick 10 players during the group stages, then 8 players during the second round, 4 players in the quarter finals, 2 players in the semi finals, and just one in the finals. Choose carefully!</p>
        <div class="leagueinformation">
            <div class="form-container">
                {% csrf_token %}
                <div class="form-group centeredinput">
                    <input class="form-control" type="text" name="teamname" placeholder="Your Team Name" autocomplete="off" id="globalteamname">
                    <h5>Pick a player</h5>
                    <input type="hidden" value="19" id="leagueid">
                    <div class="form-group draftselect">
                        <label for="teamselect" class="label teamlabel">Select a club</label>
                        <select id="globalteamselect" class="form-control"></select>
                    </div>
                    <div id="globalplayers">
                    </div>
                </div>
            </div>
            <div id="globalteamtable">
                <div class="form-container">
                    <h5>Team Roster</h5>
                    <table class="playerleaguetable" id="pickplayertable">
                        <tr>
                            <th></th>
                            <th>Player Name</th>
                            <th>Plays For</th>
                            <th>Current Goals</th>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
    <span class="button" id="teamsubmit">Create Team</span>
</div>

<!-- <script>
    console.log("{% url 'goalpoolapp:globalleague' %}")
</script> -->

{% endblock %}