{% extends "goalpoolapp/layout.html" %}

{% load static %}

{% load scorer_tags %}
{% block title %}
    Player Dashboard
{% endblock %}
{% block body %}
<div id="main-page-content-container">
    <div id="main-page-content">
        <h2>Welcome {{ user.username }}!</h2>
        <br>
        <div class="leagues-container">
            <div>
                <div class="leaguecontainer">
                    {% if globalteam == "" %}
                    <h3>You currently do not have a team registered for the global league</h3>
                    <a class="button" href="{% url 'goalpoolapp:createglobalteam' %}">Click here to create a team</a>
                    {% else %}
                    <h3>Classic League</h3>
                    <hr>
                    <div class="leagueinformation">
                        <div class="leaguetablecontainer">
                            <h5>{{ globalteam.teamname }}</h5>
                            <h6>Current Week Roster</h6>
                            <table class="leaguetable">
                                <tr>
                                    <th>Player Name</th>
                                    <th>Total Goals</th>
                                    <th>Current Week Goals</th>
                                </tr>
                                {% for player in globalteam.players.all %}
                                <tr>
                                    <td>{{ player.nickname }}</td>
                                    <td>{{ player.goals }}</td>
                                    <td>{{ player.currentweekgoals }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            <h6>
                                Your Team's Total Goals: {{ globalteam.totalgoals }}
                            </h6>

                                <!-- <td>Total goals: {{ globalteam.totalgoals }}</td> -->
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% for league in leagues %}
                <div class="leaguecontainer">
                    <h3>{{ league.leaguename }}</h3>
                    <div class="league-code-box">
                        <h4 class="league-code">League code: {{ league.leaguecode }}</h4>
                        <span class="copybutton" data-value="{{ league.leaguecode }}">Copy</span>
                    </div>
                    <h5>League Admin: {{ league.admin.username }}</h5>

                    <hr>
                    <div class="leagueinformation">
                        <div class="leaguetablecontainer">
                            <h5>League Standings</h5>
                            <table class="leaguetable">
                                <tr>
                                    <th>Team Name</th>
                                    <th>Manager</th>
                                    <th>Total Goals</th>
                                </tr>
                                {% for team in league.leagueteams.all|dictsort:"totalgoals" reversed %}
                                <tr>
                                    <td>{{ team.teamname }}</td>
                                    <td>{{ team.manager }}</td>
                                    <td>{{ team.totalgoals }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="leaguetablecontainer">
                            <div class="leaguetable">
                                <h5>Golden Boot Standings</h5>
                                <table class="playerleaguetable">
                                    <tr>
                                        <th>Player Name</th>
                                        <th>Owned by:</th>
                                        <th>Goals</th>
                                    </tr>
                                    {% for player in league.leagueplayers.all|dictsortreversed:"goals"|slice:":10" %}
                                    <tr>
                                        <td>{{ player.nickname }}</td>
                                        <td>
                                            {% for team in league.leagueteams.all %}
                                                {% if team in player.teams.all %}
                                                    {{ team.manager.username }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ player.goals }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% if league.draftstarted == False %}
                        <h3>Draft not yet started</h3>
                        {% if league.admin == user %}
                            {% if league.leagueteams.all.count == 1 %}
                                <span>Please invite more users to start draft</span>
                            {% else %}
                                <a class="button" href="{% url 'goalpoolapp:startdraft' league.id %}">Start Draft</a>
                            {% endif %}
                        {% endif %}
                    {% elif league.draftstarted == True and league.draftcomplete == False %}
                        <h3>Draft in progress</h3>
                        <table>
                            <tr>
                                <th>Team Name</th>
                                <th>Manager</th>
                                <th>Draft Order</th>
                            </tr>
                            {% for team in league.leagueteams.all|dictsort:"draftnumber" %}
                                <tr class="{% if team.draftnumber == league.draftposition %}draftselected{% endif %}">
                                    <td>{{ team.teamname }}</td>
                                    <td>{{ team.manager }}</td>
                                    <td>{{ team.draftnumber }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% for team in league.leagueteams.all %}
                            {% if team.draftnumber == league.draftposition %}
                                {% if team.manager == user %}
                                    <h5>It's your Pick</h5>
                                {% else %}
                                    <h5>It's {{ team.manager }}'s pick</h5>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <a class="button" href="{% url 'goalpoolapp:draft' league.id %}">Go To Draft</a>
                    {% else  %}
                        <h3>Draft Complete</h3>
                        <a class="button" href="{% url 'goalpoolapp:draft' league.id %}">Go to League</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
            <div class="leaguecontainer">
                {% if currentweek %}
                    <h4><strong>Current Round Games</strong></h4>
                    {% for game in currentweek %}
                        <div class="gamebox">
                            <h6 class="date" data-value="{{ game.date|date:'c' }}">{{ game.date }}</h6>
                            <h5>
                                <img src="{{ game.hometeam.countrypic }}" class="teampic">
                                {{ game.hometeam }} {{ game.homescore }} - {{ game.awayscore }} {{ game.awayteam }}
                                <img src="{{ game.awayteam.countrypic }}"class="teampic">
                            </h5>
                            <div class="scorers">
                                <div class="scorerslist">
                                    {% for homescorer in game.homescorers.all %}
                                        <span>
                                            {{ homescorer.nickname }}
                                            {% if homescorer.currentweekgoals > 1 %}
                                                ({{ homescorer.currentweekgoals }})
                                            {% endif %}
                                        </span>
                                    {% endfor %}
                                </div>
                                <div class="scorerslist">
                                    {% for awayscorer in game.awayscorers.all %}
                                        <span>
                                            {{ awayscorer.nickname }}
                                            {% if awayscorer.currentweekgoals > 1 %}
                                                ({{ awayscorer.currentweekgoals }})
                                            {% endif %}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <h4><strong>Next Round Games</strong></h4>
                    {% for game in nextweek %}
                    <div class="gamebox">
                        <h6 class="date" data-value="{{ game.date|date:'c' }}"></h6>
                        <h5>
                            <img src="{{ game.hometeam.countrypic }}" class="teampic">
                            {{ game.hometeam }} v {{ game.awayteam }}
                            <img src="{{ game.awayteam.countrypic }}"class="teampic">
                        </h5>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}