{% extends "goalpoolapp/layout.html" %}

{% load static %}

{% block body %}
<div id="main-page-content-container">
    <div id="main-page-content">
        <h2>{{ league.leaguename }} Draft</h2>
        {% if league.draftstarted == True and league.draftcomplete == False %}
            <div id="teamscontainer">
                {% for team in league.leagueteams.all %}
                    <div 
                    {% if team.manager == picker %}
                    class="pickercontainer"
                    {% else %}
                    class="teamcontainer"
                    {% endif %}
                    >
                    {% if team.manager == picker %}
                        <h5>Current Picker</h5>
                    {% endif %}    
                    <h3>{{ team.teamname }}</h3>
                    <h4>Managed by: {{ team.manager }}</h4>
                        <table>
                            <tr>
                                <th class="draftheader">Team Players</th>
                                <th class="draftheader">Plays for:</th>
                            </tr>
                            {% for player in team.players.all %}
                            <tr>
                                <td>{{ player.nickname }}</td>
                                <td>{{ player.realteam }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
            {% if picker == user %}
                <div id="playerselection">
                    <h5>Pick a player</h5>
                    <input type="hidden" value="{{ league.id }}" id="leagueid">
                    {% csrf_token %}
                    <div class="form-group draftselect">
                        <label for="teamselect" class="label">Select a club</label>
                        <select id="teamselect" class="form-control"></select>
                    </div>
                    <div id="players">

                    </div>
                </div>
            {% endif %}
        {% else %}
            <h4>Draft Complete!</h4>
        {% endif %}
    </div>
</div>

{% endblock %}