{% extends "goalpoolapp/layout.html" %}

{% load static %}
{% block title %}
    Classic League
{% endblock %}
{% block body %}
<div id="main-page-content-container">
    <div id="main-page-content">
        <h2>Welcome {{ user.username }}!</h2>
        <br>
        {% if not team %}
        <h3>You currently do not have a team registered for the Classic league</h3>
        <a class="button" href="{% url 'goalpoolapp:createglobalteam' %}">Click here to create a team</a>
        {% else %}
            <div class="leagues-container">
                <div>
                    <div class="leaguecontainer">
                        <h3>Classic League</h3>
                        <hr>
                        <div class="leagueinformation">
                            <div class="leaguetablecontainer">
                                <div class="split-flexbox">
                                    <div>
                                        <h5>{{ team.teamname }}</h5>
                                        <h6>Current Week Roster</h6>
                                    </div>
                                    <br>
                                    <div>
                                        {% if team.manager == user %}
                                        <a class="button" href="{% url 'goalpoolapp:globaltransfers' %}">Make transfers</a>
                                        {% endif %}
                                    </div>
                                    <br>
                                </div>
                                <table class="leaguetable">
                                    <tr>
                                        <th>Player Name</th>
                                        <th>Total Goals</th>
                                        <th>Current Week Goals</th>
                                    </tr>
                                    {% for player in team.players.all %}
                                    <tr {% if forloop.counter > 2 %}style="background-color: red" {% endif %}</tr>
                                        <td>{{ player.nickname }}</td>
                                        <td>{{ player.goals }}</td>
                                        <td>{{ player.currentweekgoals }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <br>
                                <div class="split-flexbox">
                                    <h5>
                                        Your Team's Total Goals: {{ team.totalgoals }}
                                    </h5>
                                    <h5>
                                        Current Ranking: {{ team.rank }}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="leaguecontainer">
                    <h3>Rankings</h3>
                    <div>
                        {% for team in teams|dictsort:"rank" %}
                            <h5>{{ team.rank }}: <a href="{% url 'goalpoolapp:viewglobalteam' team.id %}">{{ team.teamname }}</a> managed by {{ team.manager }} - Goals:{{ team.totalgoals }}</h5>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}