{% extends "goalpoolapp/layout.html" %}

{% load static %}

{% block body %}
<div id="main-page-content-container">
    <div id="main-page-content">
        <h1>Welcome to the Footie Goal Pool</h1>
        <h4><strong>Guess the goalscorers and beat your friends!</strong></h4>
        <a class="button" href="{% url 'goalpoolapp:register' %}">Register Here!</a>
    </div>
</div>
<div id="welcomecontentcontainer">
    <h2>Sounds interesting, can you explain?</h2>
    <div class="welcomecontent">
        <div>
            <p class="welcometext">The premise is simple. What's the most exciting thing about football? It's the goals of course! Set up a draft league with your mates, or enter our classic league. Pick your players and watch them score!</p>
        </div>

            <figure id="footballpicfig">
                <img src="{% static 'goalpoolapp/siteimages/football.jpg' %}" id="footballpic">
                <figcaption>This is the sort of football we're talking about</figcaption>
            </figure>

    </div>

</div>
{% endblock %}