{% extends "goalpoolapp/layout.html" %}

{% load static %}

{% block body %}
    <div id="main-image-container">
        <img src="{% static 'goalpoolapp/siteimages/mainimage.jpg' %}" id="main-image">
    </div>
    <div id="main-header-container">
        <div id="main-header-box">
            <h1 id="main-header">Premier League Goal Pool</h1>
            <span id="picture-text">Guess the top scorers, win the game!</span>
        </div>
    </div>

    <div id="main-page-content-container">
        <div id="main-page-content">
            <h2>What's this all about then?</h2>
        </div>
    </div>


{% endblock %}