{% extends "goalpoolapp/layout.html" %}

{% load static %}
{% block title %}
    Settings
{% endblock %}
{% block body %}

<div id="main-page-content-container">
    <div id="main-page-content">
        <h2>User Settings</h2>
        <h3>Change Password</h3>
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <span>*Password must be at least 8 characters long, not a common password, and not be entirely numeric</span>
            <input class="btn btn-primary" type="submit" value="Change My Password">
        </form>
    </div>
</div>

{% endblock %}